[submodule "astar_pathfinding"]
	path = astar_pathfinding
	url = ssh://git@github.com/Daniel-Boll/astar_pathfinding
[submodule "game"]
	path = game
	url = ssh://git@github.com/Daniel-Boll/npcs-ai-game
